@font-face {
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url("./NotoSansSC-Regular.woff2") format("woff2");
}

x-input, x-textarea {
  font-family: inherit;
  font-style: inherit;
}
