@import url("@lynx-js/web-elements/index.css");

[lynx-default-display-linear="false"] * {
  --lynx-display: flex;
  --lynx-display-toggle: var(--lynx-display-flex);
}

[lynx-default-overflow-visible="true"] x-view {
  overflow: visible;
}
